html {
  box-sizing: border-box;
  text-align: center;
   -webkit-font-smoothing: antialiased;
}
*, *:before, *:after {
  box-sizing: inherit;
}
#content {
	margin-top: 3em;
	font-family: 'Lato', sans-serif;
}

#about {
	width: 53%;
	margin: .5em auto;
	padding: 1em 0;
	font-size: 1.35em;
	line-height: 1.5em;
}
#account-manager {
	width: 45%;
	border: .1em solid black;
	margin: .5em auto;
	font-size: 1.5em;
	padding: 1em;
}
#login-details > * {
	display: inline-block;
	width: 40%;
}
#user-info {
	width: 100%;
}
#user-manager {
	display: none;
	text-align: left;
	line-height: 1.5;
}
#user-rooms {
	border: .1em solid black;
	overflow: auto;
	height: 7em;
}
#room-cat {
	width: inherit;
	background-color: white;
	border: .1em black solid;
	text-align: center;
}
#room-cat > span {
	display: inline-block;
  	width: 49%;
	border: black solid .1em;
}




/* bucket */
#bucket-interface {
	width: 20em;
	height: 0;
	opacity: 1;
	position: relative;
	margin: 0 auto;
	display: none;
}
#bucket-interface > * {
	position: absolute;
}
#bucket {
	width: 106%;
	left: 0;
	border-bottom: 1em solid white;
}
#water {
	bottom: 0;
	border-bottom: .6em solid #B5C9FD;
}
#water-top {
	width: 100%;
	margin: 0 auto;
	height: 5.35em;
}
#water-top-image {
	width: 73.5%;
	height: 100%;
}

#audioplayer {
	display: none;
}

/* buttons */
#buttons {
	display: none;
}

#buttons > * {
	width: 75px;
	height: 75px;
	background-size: contain;
	border: none;
	margin-top: -3em;
	z-index: -1;
	position: relative;
	background-color: transparent;
	outline: none;
}
#main-button {
	background-image: url("../images/record.png");
}
#reject-button {
	background-image: url("../images/reject.png");
	display: none;
}
#approve-button {
	background-image: url("../images/approve.png");
	display: none;
}
#goHome {
	width: 3em;
	height: 1.715em;
	background-size: contain;
	border: none;
	background-color: transparent;
	outline: none;
	bottom: 0;
	left: 0;
	margin-left: -65%;
	background-image: url("../images/arrowup.png");
}

#user-interaction {
	border: .2em solid black;
	width: 47em;
	height: 0;
	margin: 0 auto;
	position: relative;
	background-color: white;
}
#audioplayer {
	display: none;
}

#room-info, #recording-timeline {
	padding: .5em;
	width: 84%;
}
#room-info > * {
	display: inline-block;
	text-align: left;
}
#rooms-table {
	overflow-x: auto;
}
.room-row {
	max-height: 2em;
}
.room-name {
	width: 25%;
}
#rules {
	width: 85%;
}
#title {
	font-family: giro;
	font-size: 2em;
	letter-spacing: .8em;
	text-align: center;
	padding-left: .5em;
	margin: .3em;
	background-color: white;
}
#submitted-by {
	position: absolute;
	right: 0;
	margin-right: -10em;
	z-index: 2;
}
#time-limit {
	color: green;
	right: 0;
	top: 0;
	position: absolute;
	width: 12%;
}
/* audio manager */
#audioplayer .audio {
	display: none;
}
#myProgress {
    position: relative;
    width: 75%;
    margin: 2.2em auto 0;
    height: 15px;
    border: .1em solid black;
    background-color: black;
}
#myBar {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #B5C9FD;
}
#recordingProgress {
	position: absolute;
    width: 0%;
    height: 100%;
    background-color: white;
}
#myBarSlide {
	position: absolute;
	right: 0;
	background-color: #F28C8D;
	width: 0;
	height: 130%;
	margin-right: -1em;
	transform: translate(0, -10%);
}
.seekbar {
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	margin-top: 0;
}
#submitted-by {
	opacity: 0;
}
#recorded-time {
	display: none;
}









/* popups     */
.popup {
	width: 100%;
	height: 100%;
	opacity: 1.0;
	top: 0;
	left: 0;
	display: none;
	position: fixed;
	background-color: #313131;
	overflow: auto;
}
.close {
	position:absolute;
	right: 3%;
	cursor: pointer;
}
div#registration-popup {
	font-family:'Raleway',sans-serif;
	margin-top: 05%;
}
#roomreg-form, #reg-form {
	max-width: 450px;
	min-width: 300px;
	padding: 10px 50px;
	border: 2px solid gray;
	border-radius: 10px;
	background-color: white;
	position: absolute;
	transform: translate(50%, 50%);
}
#roomRules {
	width: 100%;
	height: 20em;
	margin-top: 2em;
}
input[type=text] {
	width:100%;
	padding:10px;
	margin-top:30px;
	border:1px solid #ccc;
	padding-left:40px;
}