html {
  box-sizing: border-box;
  text-align: center;
}
*, *:before, *:after {
  box-sizing: inherit;
}
#content {
	margin-top: 3em;
}



/* bucket */
#bucket-interface {
	width: 20em;
	height: 29.6em;
	position: relative;
	margin: 0 auto;
}
#bucket-interface > * {
	position: absolute;
}
#bucket {
	width: 106%;
	left: 0;
	border-bottom: 1em solid white;
}
#water {
	bottom: 0;
	border-bottom: .6em solid #B5C9FD;
}
#water-top {
	width: 100%;
	margin: 0 auto;
	height: 5.35em;
}
#water-top-image {
	width: 73.5%;
	height: 100%;
}

#recording-timeline {
	display: none;
}

#record-button {
	background-image: url("http://pix.iemoji.com/images/emoji/apple/ios-9/256/large-red-circle.png");
	width: 75px;
	height: 75px;
	background-size: contain;
	border: none;
	margin-top: -3em;
	z-index: 1;
	position: relative
}

#user-interaction {
	border: .2em solid black;
	width: 47em;
	height: 6.5em;
	margin: 0 auto;
	position: relative;
}
#room-info, #recording-timeline {
	padding: .5em;
	width: 84%;
}
#room-info > * {
	display: inline-block;
	text-align: left;
}
#rules {
	width: 85%;
}
#title {
	font-family: giro;
	font-size: 2em;
	letter-spacing: .8em;
	text-align: center;
	padding-left: .5em;
	margin: .3em;
}
#submitted-by {
	position: absolute;
	right: 0;
	margin-right: -10em;
	z-index: 2;
}
#time-limit {
	right: 0;
	top: 0;
	position: absolute;
	width: 15%;
}